@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

$font-stack: 'Source Code Pro', monospace;

$fs-h1: 2.5rem;
$fs-h4: 1.125rem;
$fs-body: .9rem;

$bg-color: #fff;
$text-color: #000;
$accent-color: rgb(88, 197, 88)